section#projects.section--projects
  .section-container--full-width
    .projects__content
      
      .section-headline-wrapper.headline--center
        h2.section-headline.bg-color--main-lighter.lg-btm-mg Projects
        
      section.project__container
        h3.project__title.text--main Roster Financial Website
        
        div#project-1.carousel
          img.project__hero.carousel-cell(src='assets/images/roster-portfolio-img@2x.jpg')
          figure.project__figure.carousel-cell
            img.project__image(src='assets/images/project-images/roster_web-carousel/roster_financial-1@2x.jpg')
            figcaption.project__figcaption.light-bg Site Header            
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/roster_web-carousel/roster_financial-2@2x.jpg')
            figcaption.project__figcaption.light-bg Header Carousel
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/roster_web-carousel/roster_financial-3@2x.jpg')
            figcaption.project__figcaption.dark-bg In the News
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/roster_web-carousel/roster_financial-4@2x.jpg')
            figcaption.project__figcaption.dark-bg Site Footer
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/roster_web-carousel/roster_financial-5@2x.jpg')
            figcaption.project__figcaption.dark-bg Office Map                                
        .project__info
          .project__categories
            ul.list--project-categories
              li.item--project-category UI/UX Design
              li.item--project-category Web Developement
              li.item--project-category HTML/CSS        
              li.item--project-category Javascript/JQuery        

          .project__description Roster wanted to rebuild their website to modernize it and align it with their updated logo and branding. I started with Photoshop mockups to design the UI/UX. Then I moved into HTML, CSS, and JQuery to build the front-end. This approach allowed me to create a modern, responsive website which was aligned with Roster's new branding.
      
      section.project__container
        h3.project__title.text--main The Wedding of Kelly &amp; Jay
          
        div#project-2.carousel
          img.project__hero.carousel-cell(src='assets/images/wedding-portfolio-img@2x.jpg')
          figure.project__figure.carousel-cell
            img.project__image(src='assets/images/project-images/wedding-carousel/wedding_website-1@2x.jpg')
            figcaption.project__figcaption.light-bg Site Header            
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/wedding-carousel/wedding_website-2@2x.jpg')
            figcaption.project__figcaption.dark-bg About Us
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/wedding-carousel/wedding_website-3@2x.jpg')
            figcaption.project__figcaption.light-bg Festivities
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/wedding-carousel/wedding_website-4@2x.jpg')
            figcaption.project__figcaption.light-bg Registry
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/wedding-carousel/wedding_website-5@2x.jpg')
            figcaption.project__figcaption.dark-bg RSVP Login
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/wedding-carousel/wedding_website-6@2x.jpg')
            figcaption.project__figcaption.dark-bg RSVP Form
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/wedding-carousel/wedding_website-7@2x.jpg')
            figcaption.project__figcaption.light-bg RSVP Success
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/wedding-carousel/wedding_website-8@2x.jpg')
            figcaption.project__figcaption.dark-bg Webiste Surprise
                                                                                            
        .project__info
          .project__categories
            ul.list--project-categories
              li.item--project-category UI/UX Design
              li.item--project-category Web Developement
              li.item--project-category Web Animation
              li.item--project-category HTML/CSS        
              li.item--project-category Javascript
              li.item--project-category AJAX
              li.item--project-category PHP/MySQL       

          .project__description This is the website for my own personal wedding. We needed 2 sites for the wedding. One for guests to visit for general information on the wedding. The other was the RSVP which the guests were directed to on the mailed invite. I wanted both site to be fun and reflect the color palette and look of the wedding. I added little animations and some hidden surprises to ensure a fun experience on the site. To build the informational site with HTML, CSS, and vanilla Javascript. For the RSVP site I also used PHP, MySQL, and some AJAX to make sure RSVPing was a quick and easy process. <a href="http://kellyandjaywedding.com/" class="project__txt-link" target="_blank">Vist the Site</a>

      section.project__container
        h3.project__title.text--main 16 Weeks to Greatness Website
          
        div#project-3.carousel
          img.project__hero.carousel-cell(src='assets/images/project-images/16_weeks-carousel/16_weeks-hero@2x.jpg')
          figure.project__figure.carousel-cell
            img.project__image(src='assets/images/project-images/16_weeks-carousel/16_weeks-1@2x.jpg')
            figcaption.project__figcaption.dark-bg Site Header            
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/16_weeks-carousel/16_weeks-2@2x.jpg')
            figcaption.project__figcaption.dark-bg Week 4 Header
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/16_weeks-carousel/16_weeks-3@2x.jpg')
            figcaption.project__figcaption.light-bg Week 8 Header
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/16_weeks-carousel/16_weeks-5@2x.jpg')
            figcaption.project__figcaption.dark-bg Week 16 Header
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/16_weeks-carousel/16_weeks-6@2x.jpg')
            figcaption.project__figcaption.dark-bg Previous Weeks
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/16_weeks-carousel/16_weeks-7@2x.jpg')
            figcaption.project__figcaption.dark-bg Materials Download
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/16_weeks-carousel/16_weeks-8@2x.jpg')
            figcaption.project__figcaption.light-bg Speaker Section
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/16_weeks-carousel/16_weeks-9@2x.jpg')
            figcaption.project__figcaption.dark-bg Upcoming Webinars
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/16_weeks-carousel/16_weeks-10@2x.jpg')
            figcaption.project__figcaption.light-bg Promotion Section

        .project__info
          .project__categories
            ul.list--project-categories
              li.item--project-category UI/UX Design
              li.item--project-category HTML/CSS        
              li.item--project-category Javascript/JQuery
              li.item--project-category PHP       

          .project__description This site was built for a Roster Financial promotion and webinar series. Roster needed a website that would provide information on each week's webinar and upcoming webinars. It also needed to house previously recorded webinars and any downloadable white papers or marketing materials. I designed the site to match the weekly emails that where sent out each week promoting the webinars. To build the site I used HTML, CSS, JQuery, and PHP.

      section.project__container
        h3.project__title.text--main GamePlan Income Allocation Calculator
        
        div#project-4.carousel
          img.project__hero.carousel-cell(src='assets/images/project-images/income_allocation-carousel/income_allocation-hero@2x.jpg')
          figure.project__figure.carousel-cell
            img.project__image(src='assets/images/project-images/income_allocation-carousel/income_allocation-1@2x.jpg')
            figcaption.project__figcaption.light-bg Calculator Select            
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/income_allocation-carousel/income_allocation-2@2x.jpg')
            figcaption.project__figcaption.light-bg Calculator Form
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/income_allocation-carousel/income_allocation-3@2x.jpg')
            figcaption.project__figcaption.light-bg Report Summary
          figure.project__figure.carousel-cell
            img.project__image(data-flickity-lazyload='assets/images/project-images/income_allocation-carousel/income_allocation-4@2x.jpg')
            figcaption.project__figcaption.light-bg Report Table
        
        .project__info
          .project__categories
            ul.list--project-categories
              li.item--project-category UI/UX Design
              li.item--project-category Sketch
              li.item--project-category Photoshop

          .project__description GamePlan financial houses mulitple financial calculators on their website. The Income Allocation Calculator is the most of import of these calculators. GamePlan financial tasked me with redesign the the calcultor to have a cleaner look with a friendlier and easier user experience. For this project I designed the intial low-fidelity wireframes in Sketch. For the high fidelity mockups I used Photoshop. Once the static mockups were designed, I created simple HTML and CSS mockups of some of the pages to give the stakeholders a better idea of how the pages would look in the browser.
