section.section--projects
  .section-container
    .projects__content
      
      .section-headline__wrapper
        h2.section-headline.bg-color--secondary.lg-btm-mg Projects
        
      section.project__container
        h3.project__title.text--main The Wedding of Kelly &amp; Jay
        img.project__hero(src='assets/images/wedding-portfolio-img@2x.jpg')
        
        .project__info
          .project__categories
            ul.list--project-categories
              li.item--project-category UI/UX Design
              li.item--project-category Web Development
              li.item--project-category Print Design

          .project__description Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.
          a(href="#").project__button.button.bg-color--main.text--white View Project

      section.project__container
        h3.project__title.text--main Roster Financial Marketing Website
        img.project__hero(src='assets/images/roster-portfolio-img@2x.jpg')
        
        .project__info
          .project__categories
            ul.list--project-categories
              li.item--project-category UI/UX Design
              li.item--project-category Web Development

          .project__description Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.
          a(href="#").project__button.button.bg-color--main.text--white View Project

      section.project__container
        h3.project__title.text--main The Propulsion Program
        img.project__hero(src='assets/images/propulsion-portfolio-img@2x.jpg')
        
        .project__info
          .project__categories
            ul.list--project-categories
              li.item--project-category Brand Development
              li.item--project-category Print Design

          .project__description Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.
          a(href="#").project__button.button.bg-color--main.text--white View Project
