section.section--experience
  .section-container
    .experience__content
      
      .experience__block
        h3.experience__title Graphic Design
        h2.experience__years 15+
        p.experience__label Years Experience
        
      .experience__block
        h3.experience__title Web Design
        h2.experience__years 8+
        p.experience__label Years Experience
