header.section--hero
  .hero__container
    .hero__content
      .hero__logo-wrapper
        include ../../assets/images/js-logo-hero.min.svg

      h1.headline
        span.headline__segment Jason
        span.headline__segment Shoreman
      p.subhead
        span.subhead__segment Designer.
        span.subhead__segment Developer.
        span.subhead__segment Creator.
