section.section--hello
  .section-container
    .hello__content
      
      .section-headline__wrapper.headline--left
        h2.section-headline.bg-color--secondary About Me

      p.hello__text Hello,<br> I am Jason Shoreman<br> and <strong>I design  beautiful things</strong>.
      .hello__image
        img.self-portrait(src='/assets/images/jay_photo@2x.png', alt='Jason Shoreman Photo')
