header.page__hero.hero--home
  .section-container
    .hero__content
      
      .hero__lockup--home
        .hero__logo-wrapper.logo-wrapper--home <object data="assets/images/js-logo-hero-bg.min.svg" type="image/svg+xml"></object>

        .section-headline-wrapper--hero
          h1.hero__headline--home
            span.headline__segment.bg-color--main
              span.headline__inner-segment.bg-color--main Jason
              |  
              span.headline__inner-segment.bg-color--main Shoreman
          p.hero__subhead--home
            span.subhead__segment.bg-color--main-lighter
              span.subhead__inner-segment.bg-color--main-lighter Designer.
              | 
              span.subhead__inner-segment.bg-color--main-lighter Developer.
              | 
              span.subhead__inner-segment.bg-color--main-lighter Creator.
