header.section--hero
  .hero__container
    .hero__content
      .hero__logo-wrapper
        include ../../assets/images/js-logo-hero.min.svg

      .headline-wrapper
        h1.hero__headline
          span.headline__segment Jason
          span.headline__segment Shoreman
        p.hero__subhead
          span.subhead__segment Designer.
          span.subhead__segment Developer.
          span.subhead__segment Creator.
