section.section--expertise
  .section-container
    
    .expertise__content
      
      section.expertise__section
        .expertise__text
          h4.expertise__title Front-End Development
          p.expertise__description I develop modern websites. Using a combination of HTML, CSS, and Javascript I am able to craft a web page that are responsive, performant, and engaging. 
            
        .expertise__graphic
          include ../../assets/images/expertise-graphic-web-dev.min.svg

      section.expertise__section
        .expertise__text
          h4.expertise__title UI/UX Design
          p.expertise__description I design great interfaces and wonderful experiences. I combine classic design principles with modern web practices to create a website that is easy and enjoyable to use.
            
        .expertise__graphic
          include ../../assets/images/expertise-graphic-ui-ux.min.svg

      section.expertise__section
        .expertise__text
          h4.expertise__title Brand Building
          p.expertise__description I build awesome brands. Brands that are consistent with the companies mission, values, and customers. Represented by a logo, color palette, typeface, and overall style.
            
        .expertise__graphic
          include ../../assets/images/expertise-graphic-brand.min.svg

      section.expertise__section
        .expertise__text
          h4.expertise__title Print Design
          p.expertise__description I design beautiful print peices. From business cards to 20-foot banners, I use design principles, color theory, typeography, and grid systems to create a piece that looks great on the printed page.
            
        .expertise__graphic
          include ../../assets/images/expertise-graphic-print.min.svg
