section.section--resume.bg-color--secondary
  .section-container
    .resume__content
      
      h3.resume__headline.text--main Download My Resume
      .resume__icon
        include ../../assets/images/icons/icon-download.min.svg
