header.page__hero.hero--wedding
  .section-container
    .hero__content
      
      .hero__lockup--wedding
        .hero__logo-wrapper.logo-wrapper--wedding
          include ../../assets/images/js-logo-hero.min.svg

        .section-headline-wrapper--hero
          h1.hero__headline--wedding
            span.headline__segment.bg-color--wedding-primary The Wedding of
            span.headline__segment.bg-color--wedding-primary Kelly &amp; Jay
          p.hero__subhead--wedding
            span.subhead__segment.bg-color--wedding-lighter Website and Invitation
