section.section--wedding-website
  .section-container
    .wedding-website__content
    
      .project-page__section-description
        .section-headline-wrapper.headline--left
          h2.section-headline.bg-color--wedding-lighter Wedding Website
        p Here is a project am very proud of and means a lot to my wife and I. It is our wedding website and invitation. Obviously it was a very exciting project to work on. Allowing me to do some fun and quirky things with the website and invitation. I kept the invitation very simple for aesthetic purposes and to keep costs down. The website was designed to do three things, tell our story together, give our guests the information about the wedding, and to allow them to RSVP. I included a photo gallery to help tell our story. I also designed the wedding invitations and online RSVP system. Using a unique 4-digit code I ink-jetted on the back. Guests would go to the site and enter the code to bring up their information, and then com- plete the form to RSVP. I built this system with HTML, CSS, Javascript, PHP, AJAX and MySQL.
      figure.project-figure--full-width.project-figure--wedding-1
        img.project-figure__image.image--full-width(src='/assets/images/project-images/proj-img-wedding-top@2x.jpg')
