footer.footer.footer--main
  .section-container
    .footer__content
      
      .footer__icons
        .footer__icon-row
          .footer__icon
            include ../../assets/images/icons/icon-twitter.min.svg
            
          .footer__icon
            include ../../assets/images/icons/icon-facebook.min.svg
            
          .footer__icon
            include ../../assets/images/icons/icon-linkedin.min.svg
            
          .footer__icon
            include ../../assets/images/icons/icon-codepen.min.svg
            
      .footer__text
        span.footer-text--strong.footer-text--resp-block Jason Shoreman 
        span.footer-text--resp-hide | 
        | Designer. Developer. Creator.
        
      .footer__logo
        include ../../assets/images/icons/icon-js-logo.min.svg
