footer.footer.footer--main
  .section-container
    .footer__content
      
      .footer__icons
        .footer__icon-row
          a.footer__link(href='https://twitter.com/jayman79')
            .footer__icon
              include ../../assets/images/icons/icon-twitter.min.svg
            
          a.footer__link(href='https://www.facebook.com/jshoreman1')
            .footer__icon
              include ../../assets/images/icons/icon-facebook.min.svg
            
          a.footer__link(href='https://www.linkedin.com/in/jason-shoreman-6914b56')
            .footer__icon
              include ../../assets/images/icons/icon-linkedin.min.svg
            
          a.footer__link(href='https://codepen.io/jayWebDev/')
            .footer__icon
              include ../../assets/images/icons/icon-codepen.min.svg
            
      .footer__text
        span.footer-text--strong.footer-text--resp-block Jason Shoreman 
        span.footer-text--resp-hide | 
        | Designer. Developer. Creator.
        
      .footer__logo
        include ../../assets/images/icons/icon-js-logo.min.svg
