section.section--expertise
  .section-container
    
    .expertise__content
      
      section.expertise__section
        .expertise__text
          h4.expertise__title Web Developer
          p.expertise__description Developing a great web site takes a lot of knowledge and plenty of skill. I start with a great design. Build it with HTML, CSS, and Javascript. While using today’s best practices to make it fast and responsive. Resulting in a beautiful and modern website.
            
        .expertise__graphic
          include ../../assets/images/expertise-graphic-web-dev.min.svg

      section.expertise__section
        .expertise__text
          h4.expertise__title UI/UX Designer
          p.expertise__description Developing a website is not only about images, color, and type. It is also creating interfaces and interactions which allow the user to quickly and easily accomplish what they came to that site to do. All in a way that is intuitive and enjoyable.
            
        .expertise__graphic
          include ../../assets/images/expertise-graphic-ui-ux.min.svg

      section.expertise__section
        .expertise__text
          h4.expertise__title Brand Developer
          p.expertise__description My brand development process starts with with a company’s vision and mission. From that I extract a logo to represent it. Colors and typefaces to support it. A style guide to keep it consistent. And, materials to communicate it.
            
        .expertise__graphic
          include ../../assets/images/expertise-graphic-brand.min.svg

      section.expertise__section
        .expertise__text
          h4.expertise__title Print Designer
          p.expertise__description Print is alive and well! From a perfectly typeset business card to a 20 foot banner.
            
        .expertise__graphic
          include ../../assets/images/expertise-graphic-print.min.svg
