section.section--wedding
  .section-container
    .wedding-website__content
    
      .section-description
        .section-headline-wrapper.headline--left
          h2.section-headline.bg-color--wedding-lighter Wedding Website
        p.section-description__paragraph Here is a project am very proud of and means a lot to my wife and I. It is our wedding website and invitation. Obviously it was a very exciting project to work on. Allowing me to do some fun and quirky things with the website and invitation. I kept the invitation very simple for aesthetic purposes and to keep costs down. The website was designed to do three things, tell our story together, give our guests the information about the wedding, and to allow them to RSVP. I included a photo gallery to help tell our story. I also designed the wedding invitations and online RSVP system. Using a unique 4-digit code I ink-jetted on the back. Guests would go to the site and enter the code to bring up their information, and then com- plete the form to RSVP. I built this system with HTML, CSS, Javascript, PHP, AJAX and MySQL.

section.section--wedding
  .section-container
    .wedding-website__content
          
      figure.project__figure.project__figure--full-width.deco-bg-lines--top--wedding-secondary.deco-bg-lines--bottom--wedding-secondary.deco-bg-lines--wedding-1
        img.project__image(src='/assets/images/project-images/wedding/project-image-wedding-top@2x.jpg')
      
      .project-row
        .project-column.project-column--50w   
          figure.project__figure
            img.project__image.project__image--overflow-left(src='/assets/images/project-images/wedding/project-image-wedding-festivities@2x.jpg')
        .project-column.project-column--50w   
          figure.project__figure.project__figure--wedding-1
            img.project__image.project__image--overflow-right(src='/assets/images/project-images/wedding/project-image-wedding-accomodations@2x.jpg')

section.section--wedding.deco-bg-lines--top--wedding-primary.deco-bg-lines--bottom--wedding-secondary.deco-bg-lines--wedding-2
  .section-container
    .wedding-website__content
    
      figure.project__figure.project__figure--full-width.project__figure--alpha
        img.project__image.project__image--alpha(src='/assets/images/project-images/wedding/project-image-wedding-registry-alpha@2x.png')

section.section--wedding
  .section-container
    .wedding-website__content

      .section-description
        h3.section-secondary-headline.section-secondary-headline--project.underline--wedding-primary.text--wedding-primary Responsive Design
        p.section-description__paragraph Here is a project am very proud of and means a lot to my wife and I. It is our wedding website and invitation. Obviously it was a very exciting project to work on. Allowing me to do some fun and quirky things with the website and invitation. I kept the invitation very simple for aesthetic purposes and to keep costs down. The website was designed to do three things, tell our story together, give our guests the information about the wedding, and to allow

section.section--wedding.deco-bg-lines--top--wedding-primary.deco-bg-lines--bottom--wedding-primary.deco-bg-lines--wedding-3
  .wedding-website__content.deco-color-block.deco-color-block--wedding-website-1.deco-color-block--wedding-primary-lighter
    
    .photo-mosaic.photo-mosaic--cols-7.photo-mosaic--wedding-mobile.tilt-left
      .mosaic__column.mosaic__column--wedding-mobile.mosaic__column--wedding-mobile-1
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-hero-mobile-undead@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-hero-mobile@2x.jpg')

      .mosaic__column.mosaic__column--wedding-mobile.mosaic__column--wedding-mobile-2
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-our-story-mobile-undead@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-our-story-mobile@2x.jpg')

      .mosaic__column.mosaic__column--wedding-mobile.mosaic__column--wedding-mobile-3
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-festivities-mobile@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-registry-mobile@2x.jpg')

      .mosaic__column.mosaic__column--wedding-mobile.mosaic__column--wedding-mobile-4
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-hero-mobile@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-hero-mobile-undead@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-hero-mobile@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-hero-mobile-undead@2x.jpg')

      .mosaic__column.mosaic__column--wedding-mobile.mosaic__column--wedding-mobile-3
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-festivities-mobile@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-registry-mobile@2x.jpg')

      .mosaic__column.mosaic__column--wedding-mobile.mosaic__column--wedding-mobile-2
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-our-story-mobile-undead@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-our-story-mobile@2x.jpg')
          
      .mosaic__column.mosaic__column--wedding-mobile.mosaic__column--wedding-mobile-1
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-hero-mobile-undead@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-hero-mobile@2x.jpg')

section.section--wedding.deco-bg-lines--top--wedding-primary.deco-bg-lines--bottom--wedding-primary.deco-bg-lines--wedding-4
  .section-container
    .wedding-website__content

      .section-description
        h3.section-secondary-headline.section-secondary-headline--project.underline--wedding-primary.text--wedding-primary The Website Surprise
        p.section-description__paragraph Here is a project am very proud of and means a lot to my wife and I. It is our wedding website and invitation. Obviously it was a very exciting project to work on. Allowing me to do some fun and quirky things with the website and invitation. I kept the invitation very simple for aesthetic purposes and to keep costs down. The website was designed to do three things, tell our story together, give our guests the information about the wedding, and to allow
    
      figure.project__figure.project__figure--full-width.project__figure--alpha
        img.project__image.project__image--alpha(src='/assets/images/project-images/wedding/project-image-wedding-hero-undead@2x.png')
          
      figure.project__figure.project__figure--half-width
        img.project__image.project__image--no-shadow(src='/assets/images/project-images/wedding/project-image-story-portraits-undead@2x.jpg')
          
      .section-description
        p.section-description__paragraph Here is a project am very proud of and means a lot to my wife and I. It is our wedding website and invitation. Obviously it was a very exciting project to work on. Allowing me to do some fun and quirky things with the website and invitation. I kept the invitation very simple for aesthetic purposes and to keep costs down. The website was designed to do three things, tell our story together, give our guests the information about the wedding, and to allow

      .project__video.project__video--wedding-1.deco-bg-lines--top--wedding-secondary.deco-bg-lines--wedding-5
        <script src="https://fast.wistia.com/embed/medias/7wwkjgsj5b.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_7wwkjgsj5b videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>

section.section--wedding
  .section-container
    .wedding-website__content

      .section-description
        h3.section-secondary-headline.section-secondary-headline--project.underline--wedding-primary.text--wedding-primary The Wedding Invite
        p.section-description__paragraph Here is a project am very proud of and means a lot to my wife and I. It is our wedding website and invitation. Obviously it was a very exciting project to work on. Allowing me to do some fun and quirky things with the website and invitation. I kept the invitation very simple for aesthetic purposes and to keep costs down. The website was designed to do three things, tell our story together, give our guests the information about the wedding, and to allow

section.section--wedding.deco-bg-lines--top--wedding-primary.deco-bg-lines--bottom--wedding-primary.deco-bg-lines--wedding-6
  .wedding-website__content.deco-color-block.deco-color-block--wedding-website-2.deco-color-block--wedding-primary-lighter

    .photo-mosaic.photo-mosaic--cols-4.photo-mosaic--wedding-invite.tilt-right
      .mosaic__column.mosaic__column--wedding-invite.mosaic__column--wedding-invite-1
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-front@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-back@2x.jpg')

      .mosaic__column.mosaic__column--wedding-invite.mosaic__column--wedding-invite-2
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-front@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-back@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-front@2x.jpg')

      .mosaic__column.mosaic__column--wedding-invite.mosaic__column--wedding-invite-3
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-front@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-back@2x.jpg')

      .mosaic__column.mosaic__column--wedding-invite.mosaic__column--wedding-invite-4
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-front@2x.jpg')
        img.photo-mosiac__image.project__image(src='/assets/images/project-images/wedding/project-image-wedding-invite-back@2x.jpg')

section.section--wedding
  .section-container
    .wedding-website__content

      .section-description
        h3.section-secondary-headline.section-secondary-headline--project.underline--wedding-primary.text--wedding-primary The RSVP Site
        p.section-description__paragraph Here is a project am very proud of and means a lot to my wife and I. It is our wedding website and invitation. Obviously it was a very exciting project to work on. Allowing me to do some fun and quirky things with the website and invitation. I kept the invitation very simple for aesthetic purposes and to keep costs down. The website was designed to do three things, tell our story together, give our guests the information about the wedding, and to allow
    
      figure.project__figure.project__figure--half-width
        img.project__image(src='/assets/images/project-images/wedding/project-image-wedding-rsvp-welcome@2x.png')
          
      figure.project__figure.project__figure--full-width.deco-bg-lines--top--wedding-secondary.deco-bg-lines--bottom--wedding-secondary.deco-bg-lines--wedding-7
        img.project__image(src='/assets/images/project-images/wedding/project-image-wedding-rsvp-form@2x.png')

      figure.project__figure.project__figure--half-width
        img.project__image(src='/assets/images/project-images/wedding/project-image-wedding-rsvp-confirmation@2x.png')

section.section--wedding
  .section-container
    .wedding-website__content

      .section-description
        h3.section-secondary-headline.section-secondary-headline--project.underline--wedding-primary.text--wedding-primary Color &amp; Type
    
      .project-row
        figure.project-colors
          .project-colors__block.bg-color--wedding-primary
          .project-colors__block.bg-color--wedding-lighter
          .project-colors__block.bg-color--wedding-secondary
          figcaption.project-figcaption.project-figcaption--color Primary Colors
        figure.project-colors
          .project-colors__block.bg-color--wedding-secondary-lighter
          .project-colors__block.bg-color--wedding-tertiary
          figcaption.project-figcaption.project-figcaption--color Additional Colors

      .project-row
          figure.project-type
            img.project-type--specimen(src='/assets/images/project-images/wedding/project-type-alana-pro@2x.png')
            figcaption.project-figcaption.project-figcaption--type Headline Type
          
      .project-row
          figure.project-type
            img.project-type--specimen(src='/assets/images/project-images/wedding/project-type-georgia@2x.png')
            figcaption.project-figcaption.project-figcaption--type Body Copy - Web

          figure.project-type
            img.project-type--specimen(src='/assets/images/project-images/wedding/project-type-chaparral@2x.png')                       
            figcaption.project-figcaption.project-figcaption--type Body Copy - Print

section.section--wedding
  .section-container--full-width
    .wedding-website__content

      nav.project-navigation.project-navigation--wedding
        .project-navigation__container
          a(href="/")
            .project-navigation__image.project-navigation__image--roster-web
            .project-navigation__label
              p.project-navigation__direction Next Project ➝
              h4.project-navigation__title Roster Financial Marketing Website

footer.footer.footer--wedding
  .section-container
    .footer__content
      
      .footer__icons
        .footer__icon-row
          .footer__icon
            include ../../assets/images/icons/icon-twitter.min.svg
            
          .footer__icon
            include ../../assets/images/icons/icon-facebook.min.svg
            
          .footer__icon
            include ../../assets/images/icons/icon-linkedin.min.svg
            
          .footer__icon
            include ../../assets/images/icons/icon-codepen.min.svg
            
      .footer__text
        span.footer-text--strong.footer-text--resp-block Jason Shoreman 
        span.footer-text--resp-hide | 
        | Designer. Developer. Creator.
        
      .footer__logo
        include ../../assets/images/icons/icon-js-logo.min.svg
