section#about-me.section--hello
  .section-container
    .hello__content
      
      .section-headline-wrapper.headline--left
        h2.section-headline.bg-color--secondary About Me

      p.hello__text Hello,<br> I am Jason Shoreman<br> and <strong>I design  beautiful things</strong>. This is how I do it.
      .hello__image
        img.self-portrait(src='/assets/images/js-portrait-halftone-lines@2x.png', alt='Jason Shoreman Photo')          
