- var sections = ['About Me','Knowledge','Projects','Contact'];

nav.main-nav.main-nav--primary
  .main-nav__container
    .main-nav__logo-wrapper
      include ../../assets/images/js-logo-hero.min.svg

    ul.main-nav__list
        li.main-nav__item 
          a.main-nav__link(href='#about-me') About Me
        li.main-nav__item 
          a.main-nav__link(href='#knowledge') Knowledge
        li.main-nav__item 
          a.main-nav__link(href='#projects') Projects
        li.main-nav__item 
          a.main-nav__link(href='#contact') Contact
