- var sections = ['About Me','Knowledge','Projects','Resume','Contact'];

nav.page__navigation
  .section-container
    .logo-temp

    ul
      each section in sections
        li
          a= section
