* {
  box-sizing: border-box
}

body
  margin: 0
  padding: 0
  font-size: font-size
  line-height: line-height
  font-family: font-family

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  text-transform: uppercase

h1, h2
  font-size: emify(30)

  +mq-min(400px)
    font-size: emify(36)

  +mq-min(620px)
    font-size: emify(48)

  +mq-min(820px)
    font-size: emify(64)

h3
  font-size: emify(36)

h4
  font-size: emify(24)

ul
  margin: 0
  padding: 0
  list-style-type: none

.section-container
  width: 100%
  max-width: 960px
  margin: 0 auto

.section-headline
  display: inline-block
  padding: 0 20px
  box-shadow: 0 15px 20px -7px rgba(0, 0, 0, .5)
  color: white

.section-headline-wrapper
  position: relative
  z-index: 1

.button
  text-decoration: none
  text-transform: uppercase
  color: inherit
