.headline, .subhead
  display: inline-block
  margin: 0
  color: white
  text-transform: uppercase

.headline
  padding: 5px (24/64)em
  background-color: main-color
  emify 64

  &__segment
    display: inline-block
    margin-right: (24/64)em
    
.subhead
  padding: 5px (30/36)em
  background-color: main-lighter
  emify 36

  &__segment
    display: inline-block
    margin-right: (30/36)em
