section.section--knowledge
  .section-container
    .knowledge__content

      .knowledge__icons
        .knowledge__icon-row
          .knowledge__icon
            include ../../assets/images/icons/icon-html-5.min.svg
          .knowledge__icon
            include ../../assets/images/icons/icon-css-3.min.svg
          .knowledge__icon
            include ../../assets/images/icons/icon-javascript.min.svg
          .knowledge__icon
            include ../../assets/images/icons/icon-gulp.min.svg
          .knowledge__icon
            include ../../assets/images/icons/icon-sass.min.svg
        .knowledge__icon-row
          .knowledge__icon
            include ../../assets/images/icons/icon-illustrator.min.svg
          .knowledge__icon
            include ../../assets/images/icons/icon-photoshop.min.svg
          .knowledge__icon
            include ../../assets/images/icons/icon-indesign.min.svg
          .knowledge__icon
            include ../../assets/images/icons/icon-sketch.min.svg
          .knowledge__icon
            include ../../assets/images/icons/icon-command-line.min.svg

      .knowledge__lists

        .knowledge__list-container--double

          h3.knowledge__list-title Design &amp; Development
          ul.knowledge__list
            li.knowledge__list-item HTML/CSS
            li.knowledge__list-item Javascript/ES6
            li.knowledge__list-item JQuery
            li.knowledge__list-item AJAX
            li.knowledge__list-item PHP
            li.knowledge__list-item MySQL
          ul.knowledge__list
            li.knowledge__list-item Bootstrap
            li.knowledge__list-item Pug
            li.knowledge__list-item Sass
            li.knowledge__list-item Stylus
            li.knowledge__list-item Gulp
            li.knowledge__list-item Git

        .knowledge__list-container

          h3.knowledge__list-title Software
          ul.knowledge__list
            li.knowledge__list-item HTML/CSS
            li.knowledge__list-item Javascript/ES6
            li.knowledge__list-item JQuery
            li.knowledge__list-item AJAX
            li.knowledge__list-item PHP
            li.knowledge__list-item MySQL

          h3.knowledge__list-title Concepts
          ul.knowledge__list
            li.knowledge__list-item Bootstrap
            li.knowledge__list-item Pug
            li.knowledge__list-item Sass
            li.knowledge__list-item Stylus
            li.knowledge__list-item Gulp
            li.knowledge__list-item Git
