.deco-bg-lines
  &--top--wedding-primary
  &--top--wedding-secondary
  &--bottom--wedding-primary
  &--bottom--wedding-secondary
    position: relative

  &--top--wedding-primary
  &--top--wedding-secondary
    &::before
      content: ''
      display: block
      position: absolute
      width: 100%
      max-width: 960px
      height: 800px
      background-size: contain
      background-repeat: no-repeat
      z-index: -1

  &--bottom--wedding-primary
  &--bottom--wedding-secondary
    &::after
      content: ''
      display: block
      position: absolute
      width: 100%
      max-width: 960px
      height: 100%
      background-size: contain
      background-repeat: no-repeat
      z-index: -1

  &--top--wedding-primary
    &::before
      background-image: url(../images/project-images/wedding/faded_lines-wedding-purple@2x.png)

  &--bottom--wedding-primary
    &::after
      background-image: url(../images/project-images/wedding/faded_lines-wedding-purple@2x.png)

  &--top--wedding-secondary
    &::before
      background-image: url(../images/project-images/wedding/faded_lines-wedding-blue@2x.png)

  &--bottom--wedding-secondary
    &::after
      background-image: url(../images/project-images/wedding/faded_lines-wedding-blue@2x.png)

  &--wedding-1
    &::before,
    &::after
      left: 50%
      transform: translateX(-50%)

    &::before
      top: -150px

    &::after
      bottom: -86px
      left: 217px
      background-position: 0 100%

  &--wedding-2
    &::before,
    &::after
      left: 50%
      transform: translateX(-50%)

    &::before
      top: -550px

    &::after
      bottom: -530px
      transform: translateX(-50%) rotate(-22deg)

  &--wedding-3
    &::before
      top: -788px
      left: 15%
      transform: rotate(180deg)

    &::after
      bottom: -627px
      right: -5%
      transform: rotate(-75deg)

  &--wedding-4
    &::before
      top: 170px
      left: -20%

    &::after
      top: 170px
      right: -25%
      transform: rotate(180deg)

  &--wedding-5
    &::before
      top: 170px
      left: -18%
      transform: rotate(180deg)

  &--wedding-6
    &::before
      left: 14%
      transform: rotate(-30deg)

    &::after
      bottom: -1070px

.deco-color-block
  position: relative

  &::after
    content: ''
    display: block
    position: absolute
    width: 100%
    z-index: 0

  &--wedding-primary
    &::after
      background-color: wedding-primary-color

  &--wedding-primary-lighter
    &::after
      background-color: wedding-primary-lighter

  &--wedding-website-1
    &::after
      top: 19%
      padding-top: (965/1440) * 100%

  &--wedding-website-2
    &::after
      top: 25%
      padding-top: (940/1440) * 100%

.project__figure
  display: block
  position: relative
  width: 100%
  margin: 0

.project__figure--full-width,
.project__figure--alpha
  max-width: 960px
  margin: 0 auto 90px

.project__figure--alpha
  position: relative
  z-index: 0

  &::after
    content: ''
    display: block
    position: absolute
    top: 17px
    bottom: 27px
    left: 0px
    right: 0px
    background-color: rgba(255, 255, 255, 0)
    box-shadow: project-shadow--alpha
    z-index: -1

.project__figure
  &--wedding-1
    .project__image
      margin-top: 230px

.project__image
  max-width: 100%
  border-radius: 10px
  box-shadow: project-shadow
  z-index: 1

.project__image--alpha
  border-radius: none
  box-shadow: none

.project__image--no-fill
  display: block
  max-width: 50%
  margin: 0 auto 50px

.project__image--overflow-left
  margin-left: -95px

.project__image--overflow-right
  margin-left: 95px

.project__video
  position: relative
  max-width: 960px
  margin: 0 auto 150px
  padding: 0 8.33333%

  &--wedding-1
    &::after
      content: ''
      display: block
      position: absolute
      top: -150px
      left: 30%
      width: 100%
      max-width: 960px
      padding-top: 83.33333%
      background-image: url(../images/project-images/wedding/faded_lines-wedding-blue@2x.png)
      background-size: 100%
      background-repeat: no-repeat
      transform: rotate(180deg)
      z-index: -1

  & .wistia_responsive_padding
    box-shadow: project-shadow

.project-row
  margin-bottom: 90px
  clearfix()

.project-column
  float: left

.project-column--50w
  width: 50%
