main-color = #006959
main-lighter = #56B39A
secondary-color = #BE985B
secondary-darker = #AA7942

//PROJECT - WEDDING COLORS
wedding-primary-color = #6B1E6B
wedding-primary-lighter = #A864A8
wedding-secondary-color = #0072BC
wedding-secondary-lighter = #C5E4F4

white = #ffffff

text-color = #373D47

font-family = "futura-pt", sans-serif
font-size = 18px
line-height = 24/18
