* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.333333333333333;
  font-family: "futura-pt", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
h1,
h2 {
  font-size: 2.666666666666667em;
}
@media screen and (min-width: 820px) {
  h1,
  h2 {
    font-size: 3.555555555555555em;
  }
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.333333333333333em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.section-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.section-headline {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
}
.section-headline__wrapper {
  position: relative;
  z-index: 1;
}
.button {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
.bg-color--main {
  background-color: #006959;
}
.bg-color--secondary {
  background-color: #be985b;
}
.headline--left {
  margin: 0 auto 70px;
  text-align: center;
}
@media screen and (min-width: 450px) {
  .headline--left {
    margin: 0 0 70px 95px;
    text-align: left;
  }
}
.headline--center {
  margin: 0 auto 70px;
  text-align: center;
}
.deco-centerline--main::after,
.deco-centerline--secondary::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  z-index: -1;
}
.deco-centerline--main::after {
  background-color: #006959;
}
.deco-centerline--secondary::after {
  background-color: #be985b;
}
.text--white {
  color: #fff;
}
.text--main {
  color: #006959;
}
.text--secondary {
  color: #be985b;
}
.text--strong {
  font-weight: 700;
}
.lg-btm-mg {
  margin-bottom: 100px;
}
.main-nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #ffc0cb;
  z-index: 1;
}
@media screen and (min-width: 1100px) {
  .main-nav {
    max-width: 960px;
  }
}
.main-nav__container {
  position: fixed;
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  border-bottom: 1px solid #be985b;
}
@media screen and (min-width: 1100px) {
  .main-nav__container {
    flex-direction: column;
    align-items: start;
    display: inline-block;
    width: auto;
    margin-left: -50px;
    border-right: 1px solid #be985b;
    border-bottom: none;
  }
}
.main-nav__logo-wrapper {
  position: relative;
  top: 15px;
  width: 43px;
  height: 88.08px;
  margin: 0 20px 0 15px;
}
@media screen and (min-width: 376px) {
  .main-nav__logo-wrapper {
    top: 10px;
    width: 34.17px;
    height: 70px;
    margin: 0 45px 0 50px;
  }
}
@media screen and (min-width: 1100px) {
  .main-nav__logo-wrapper {
    width: 25.87px;
    height: 53px;
    margin: 10px 0 20px 15px;
  }
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 1;
  padding: 12px 0;
  color: #006959;
}
@media screen and (min-width: 376px) {
  .main-nav__list {
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .main-nav__list {
    flex-direction: column;
    align-items: start;
  }
}
.main-nav__item {
  display: flex;
  align-items: center;
  flex-basis: 33.3333%;
}
@media screen and (min-width: 376px) {
  .main-nav__item {
    flex: none;
    padding-right: 1.888888888888889em;
  }
}
.main-nav__item:last-of-type {
  color: #be985b;
}
@media screen and (min-width: 620px) {
  .main-nav__item:last-of-type {
    margin-left: auto;
  }
}
@media screen and (min-width: 1100px) {
  .main-nav__item:last-of-type {
    margin-left: 0;
  }
}
.section--hero {
  position: relative;
  width: 100%;
  height: 658px;
  background: url("../images/faded_lines-01@2x.jpg") center -385px/960px no-repeat;
  z-index: -1;
}
.hero__content {
  position: relative;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}
.hero__logo-wrapper {
  position: absolute;
  width: 218.54px;
  height: 447.64px;
  top: 136px;
  right: 20px;
  z-index: 0;
}
@media screen and (min-width: 400px) {
  .hero__logo-wrapper {
    right: 70px;
  }
}
@media screen and (min-width: 500px) {
  .hero__logo-wrapper {
    width: 261px;
    height: 535px;
    top: 121px;
    left: 50%;
    margin-left: -130.5px;
  }
}
.js-logo--hero {
  width: 100%;
  height: 100%;
  fill: #be985b;
}
.section-headline__wrapper--hero {
  position: relative;
  padding-top: 163px;
  z-index: 1;
  text-align: center;
}
.section-headline__wrapper--hero:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 500px) {
  .section-headline__wrapper--hero {
    padding-top: 402px;
  }
}
.hero__headline,
.hero__subhead {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1;
  z-index: 1;
}
@media screen and (min-width: 500px) {
  .hero__headline {
    display: inline-block;
    margin: 0 0 6px 0;
    padding-top: 3px;
    background-color: #006959;
  }
}
@media screen and (min-width: 820px) {
  .hero__headline {
    float: left;
    margin: 0 90px 6px;
  }
}
.hero__subhead {
  display: inline;
  font-size: 1.333333333333333em;
  text-transform: uppercase;
}
@media screen and (min-width: 500px) {
  .hero__subhead {
    display: inline-block;
    margin-left: 0;
    padding-top: 3px;
    background-color: #56b39a;
  }
}
@media screen and (min-width: 820px) {
  .hero__subhead {
    margin-right: 70px;
    float: right;
    font-size: 2em;
  }
}
.headline__segment,
.subhead__segment {
  float: left;
  clear: left;
  margin: 0 0 3px 30px;
}
@media screen and (min-width: 400px) {
  .headline__segment,
  .subhead__segment {
    margin-left: 70px;
  }
}
@media screen and (min-width: 500px) {
  .headline__segment,
  .subhead__segment {
    float: none;
    margin-left: 0;
    background-color: none;
  }
}
.headline__segment {
  display: inline-block;
  padding: 0 0.234375em;
  background-color: #006959;
}
.subhead__segment {
  display: inline-block;
  padding: 0 0.416666666666667em;
  background-color: #56b39a;
}
.section--hello {
  position: relative;
  width: 100%;
  z-index: 0;
}
.section--hello:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 960px;
  background: url("../images/faded_lines-01@2x.jpg") -360px 190px/600px no-repeat;
  transform: translateX(-50%);
  z-index: -1;
}
@media screen and (min-width: 450px) {
  .section--hello:after {
    background-position: -150px 450px;
    background-size: 100%;
  }
}
@media screen and (min-width: 650px) {
  .section--hello:after {
    background-position: -170px 380px;
  }
}
.hello__content {
  position: relative;
  padding: 50px 0 390px;
}
.hello__content:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 650px) {
  .hello__content {
    padding: 220px 0 150px;
  }
}
.hello__text {
  float: left;
  font-size: 1.666666666666667em;
  max-width: 370px;
  margin: 0;
  padding-left: 30px;
  color: #be985b;
}
@media screen and (min-width: 450px) {
  .hello__text {
    padding: 0;
    margin-left: 95px;
  }
}
@media screen and (min-width: 860px) {
  .hello__text {
    font-size: 2em;
  }
}
.hello__text:after {
  content: '';
  display: block;
  width: 3.611111111111111em;
  margin-top: 45px;
  border-bottom: 10px solid #006959;
}
.hello__image {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  overflow: hidden;
  z-index: 1;
}
@media screen and (min-width: 450px) {
  .hello__image {
    width: 47.91666666666667%;
    min-width: 350px;
    max-width: 460px;
  }
}
@media screen and (min-width: 715px) {
  .hello__image {
    width: 460px;
  }
}
.self-portrait {
  position: relative;
  width: 100%;
  top: 20px;
  left: 40px;
}
.section--experience {
  position: relative;
  background-color: #56b39a;
  padding: 40px;
}
.experience__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.experience__content:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 600px) {
  .experience__content {
    flex-direction: row;
  }
}
.experience__block {
  display: inline-block;
}
.experience__block:first-of-type {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 600px) {
  .experience__block:first-of-type {
    padding: 0 80px 0 0;
    border-right: 1px solid #fff;
    border-bottom: none;
  }
}
.experience__block:last-of-type {
  padding-top: 30px;
}
@media screen and (min-width: 600px) {
  .experience__block:last-of-type {
    padding: 0 0 0 80px;
  }
}
@media screen and (min-width: 600px) {
  .experience__block {
    padding: 90px 0;
  }
}
.experience__title,
.experience__years,
.experience__label {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.experience__title {
  letter-spacing: 1px;
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  .experience__title {
    font-size: 1em;
  }
}
.experience__years {
  font-size: 8.333333333333334em;
  font-weight: 700;
  letter-spacing: -7px;
}
@media screen and (min-width: 375px) {
  .experience__years {
    font-size: 11.11111111111111em;
  }
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  .experience__years {
    font-size: 7.777777777777778em;
  }
}
.experience__label {
  ont-size: 1.333333333333333em;
  letter-spacing: 5px;
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  .experience__label {
    font-size: 1em;
    letter-spacing: 0;
  }
}
.section--expertise {
  position: relative;
  overflow: hidden;
}
.section--expertise:before,
.section--expertise:after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  max-width: 960px;
  height: 960px;
  background: url("../images/faded_lines-02@2x.jpg") center/100% no-repeat;
  z-index: -1;
}
@media screen and (min-width: 450px) {
  .section--expertise:before,
  .section--expertise:after {
    width: 100%;
  }
}
.section--expertise:before {
  top: -400px;
}
@media screen and (min-width: 450px) {
  .section--expertise:before {
    top: -300px;
    right: -400px;
    transform: rotate(-90deg);
  }
}
.section--expertise:after {
  bottom: -400px;
}
@media screen and (min-width: 450px) {
  .section--expertise:after {
    bottom: -400px;
    left: -400px;
    transform: rotate(98deg);
  }
}
.expertise__section {
  position: relative;
  padding: 40px 20px;
  border-bottom: 1px solid #be985b;
}
@media screen and (min-width: 450px) {
  .expertise__section {
    margin: 0 80px;
    padding: 67px 0;
  }
}
@media screen and (min-width: 450px) {
  .expertise__section:nth-child(2n) .expertise__text,
  .expertise__section:nth-child(2n-1) .expertise__graphic {
    float: left;
  }
}
@media screen and (min-width: 450px) {
  .expertise__section:nth-child(2n) .expertise__graphic,
  .expertise__section:nth-child(2n-1) .expertise__text {
    float: right;
  }
}
.expertise__section:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 450px) {
  .expertise__text,
  .expertise__graphic {
    width: 46.25%;
  }
}
@media screen and (min-width: 450px) {
  .expertise__graphic {
    float: right;
  }
}
@media screen and (min-width: 450px) {
  .expertise__text {
    float: left;
  }
}
.expertise-graphic {
  width: 100%;
}
.expertise__title {
  color: #006959;
}
.expertise__title::after {
  content: '';
  display: block;
  width: 3.333333333333333em;
  margin: 30px 0;
  border-bottom: 10px solid #be985b;
}
.section--knowledge {
  position: relative;
  background-color: #006959;
  background-image: linear-gradient(rgba(0,105,89,0.9), #006959), url("../images/bookshelf-xl@2x.jpg");
  background-size: contain;
  z-index: -1;
}
.section--knowledge::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: repeating-linear-gradient(45deg, #006959, #006959 2px, transparent 0, transparent 15px);
  z-index: 0;
}
.knowledge__content {
  position: relative;
  margin: 0 10px;
  padding: 100px 0;
  z-index: 1;
}
@media screen and (min-width: 450px) {
  .knowledge__content {
    margin: 0 95px;
  }
}
.knowledge__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 450px) {
  .knowledge__icons {
    flex-direction: column;
  }
}
.knowledge__icon-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 450px) {
  .knowledge__icon-row {
    display: table;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 450px) {
  .knowledge__icon-row:first-of-type,
  .knowledge__icon-row:last-of-type {
    padding-bottom: 55px;
  }
}
@media screen and (min-width: 450px) {
  .knowledge__icon-row:first-of-type {
    border-bottom: 1px solid #be985b;
  }
}
@media screen and (min-width: 450px) {
  .knowledge__icon-row:last-of-type {
    padding-top: 55px;
  }
}
.knowledge__icon {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 450px) {
  .knowledge__icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
.icon--knowledge {
  width: 100%;
  max-width: 100px;
  fill: #fff;
}
.knowledge__lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.knowledge__lists:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 700px) {
  .knowledge__lists {
    flex-wrap: nowrap;
  }
}
.knowledge__list-container,
.knowledge__list-container--double {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 50px;
  overflow: auto;
  z-index: 0;
}
@media screen and (min-width: 700px) {
  .knowledge__list-container,
  .knowledge__list-container--double {
    margin-right: 3.896103896103896%;
    overflow: visible;
  }
}
@media screen and (min-width: 700px) {
  .knowledge__list-container:last-of-type,
  .knowledge__list-container--double:last-of-type {
    margin-right: 0;
    margin-left: 10.38961038961039%;
  }
}
.knowledge__list-container::before,
.knowledge__list-container--double::before,
.knowledge__list-container::after,
.knowledge__list-container--double::after {
  content: '';
  display: none;
  position: absolute;
  z-index: -1;
}
@media screen and (min-width: 700px) {
  .knowledge__list-container::before,
  .knowledge__list-container--double::before,
  .knowledge__list-container::after,
  .knowledge__list-container--double::after {
    display: inline-block;
    top: -102px;
    height: 61px;
  }
}
@media screen and (min-width: 820px) {
  .knowledge__list-container::before,
  .knowledge__list-container--double::before,
  .knowledge__list-container::after,
  .knowledge__list-container--double::after {
    top: -111px;
    height: 70px;
  }
}
.knowledge__list-container::before,
.knowledge__list-container--double::before {
  left: 22.5px;
  width: 1px;
  background-color: #be985b;
}
.knowledge__list-container::after,
.knowledge__list-container--double::after {
  left: 0;
  width: 45px;
  border-bottom: 10px solid #be985b;
}
.knowledge__list-container {
  float: left;
  width: 50%;
}
@media screen and (min-width: 700px) {
  .knowledge__list-container {
    width: 16.883116883116884%;
  }
}
.knowledge__list-container--double {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .knowledge__list-container--double {
    flex: 1 1 100%;
    float: left;
    width: 48.05194805194805%;
  }
}
.knowledge__list-container--double .knowledge__list {
  width: 50%;
}
.knowledge__list-title {
  flex: 1 1 100%;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .knowledge__list-title {
    text-align: left;
  }
}
.knowledge__list {
  width: 100%;
  float: left;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .knowledge__list {
    text-align: left;
  }
}
.section--projects {
  position: relative;
  overflow: hidden;
}
.section--projects:before,
.section--projects:after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  max-width: 960px;
  height: 960px;
  background: url("../images/faded_lines-01@2x.jpg") center/100% no-repeat;
  z-index: -1;
}
@media screen and (min-width: 960px) {
  .section--projects:before,
  .section--projects:after {
    width: 100%;
  }
}
.section--projects:before {
  top: -420px;
  left: -100px;
  transform: rotate(-160deg);
}
@media screen and (min-width: 450px) {
  .section--projects:before {
    top: -460px;
    left: 0;
  }
}
.section--projects:after {
  bottom: -730px;
  left: -140px;
  transform: rotate(270deg);
}
.projects__content {
  padding: 70px 0;
}
.project__container {
  margin-bottom: 50px;
  padding: 0 30px 50px 30px;
  border-bottom: 1px solid #be985b;
}
@media screen and (min-width: 960px) {
  .project__container {
    padding: 0 15px 0 15px;
    border-bottom: none;
  }
}
.project__container:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.project__title {
  position: relative;
  width: 100%;
  margin: 0 auto 30px auto;
  padding-bottom: 25px;
  line-height: 1.1;
}
@media screen and (min-width: 960px) {
  .project__title {
    margin: 0 auto 65px auto;
  }
}
.project__title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15.104166666666666%;
  height: 10px;
  background-color: #be985b;
}
.project__hero {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 30px auto;
  border: 1px solid #be985b;
}
@media screen and (min-width: 960px) {
  .project__hero {
    margin: 0 auto 50px auto;
  }
}
.project__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 960px) {
  .project__info {
    margin: 0 65px 0 15px;
  }
}
.project__description {
  order: 1;
  width: 100%;
  margin-bottom: 25px;
}
@media screen and (min-width: 960px) {
  .project__description {
    width: 55.208333333333336%;
  }
}
.project__categories {
  flex: none;
  order: 2;
  width: 130px;
  font-size: 0.666666666666667em;
  font-weight: 700;
  color: #be985b;
  text-transform: uppercase;
}
@media screen and (min-width: 960px) {
  .project__categories {
    order: 1;
    text-align: right;
  }
}
.project__button {
  position: relative;
  order: 1;
  padding: 10px 15px;
  border-bottom: 4px solid #56b39a;
  letter-spacing: 0.1em;
  transition: all 200ms ease-in-out;
  z-index: 0;
}
.project__button::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #be985b;
  transition: all 100ms ease-in-out;
  z-index: -1;
}
.project__button:hover {
  border-bottom-color: #aa7942;
}
.project__button:hover::before {
  height: 100%;
}
.section--resume {
  background-image: repeating-linear-gradient(45deg, #b78c48, #b78c48 2px, transparent 0, transparent 15px);
}
.resume__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 80px;
  line-height: 1;
  text-align: center;
}
.resume__headline {
  margin-bottom: 20px;
}
@media screen and (min-width: 680px) {
  .resume__headline {
    margin-bottom: 0;
  }
}
.resume__icon {
  display: inline-block;
  width: 100px;
}
.icon--download {
  fill: #fff;
}
.section--contact {
  position: relative;
  overflow: hidden;
}
.section--contact:before,
.section--contact:after {
  content: '';
  display: block;
  position: absolute;
  width: 250%;
  max-width: 960px;
  height: 960px;
  background: url("../images/faded_lines-01@2x.jpg") center/100% no-repeat;
  z-index: -1;
}
@media screen and (min-width: 450px) {
  .section--contact:before,
  .section--contact:after {
    width: 100%;
  }
}
.section--contact:before {
  top: -350px;
  left: -270px;
  transform: rotate(-110deg);
}
@media screen and (min-width: 450px) {
  .section--contact:before {
    top: -340px;
  }
}
.section--contact:after {
  top: 590px;
  right: -110px;
  transform: rotate(-77deg);
}
@media screen and (min-width: 450px) {
  .section--contact:after {
    top: 690px;
  }
}
.contact__content {
  padding: 70px 30px;
}
@media screen and (min-width: 960px) {
  .contact__content {
    padding: 100px 175px;
  }
}
.form__input-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.form__input-label {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  color: #be985b;
  text-transform: uppercase;
  transform: translate(30px, 40px);
}
.form__input--text,
.form__input--textarea {
  width: 100%;
  border: 1px solid #be985b;
  border-bottom: 5px solid #92703a;
}
.form__input--text {
  height: 60px;
}
.form__input--textarea {
  height: 200px;
}
.form__button {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-bottom: 5px solid #56b39a;
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 200ms ease-in-out;
  z-index: 0;
}
.form__button::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #be985b;
  transition: all 100ms ease-in-out;
  z-index: -1;
}
.form__button:hover {
  border-bottom-color: #aa7942;
}
.form__button:hover::before {
  height: 100%;
}
.section--footer {
  background-color: #006959;
}
.footer__content {
  padding: 60px 15px 30px;
  text-align: center;
}
.footer__icon,
.footer__logo {
  display: inline-block;
  width: 100%;
}
.footer__icon {
  max-width: 30px;
  margin: 0 20px 50px;
  padding-bottom: 20px;
  border-bottom: 10px solid #be985b;
  fill: #be985b;
}
@media screen and (min-width: 400px) {
  .footer__icon {
    max-width: 50px;
  }
}
@media screen and (min-width: 600px) {
  .footer__icon {
    max-width: 50px;
    margin: 0 30px 50px;
  }
}
.footer__logo {
  max-width: 50px;
  fill: #fff;
}
.footer__text {
  margin-bottom: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.footer-text--strong {
  font-weight: 700;
}
.footer-text--resp-block {
  display: block;
}
@media screen and (min-width: 600px) {
  .footer-text--resp-block {
    display: inline;
  }
}
.footer-text--resp-hide {
  display: none;
}
@media screen and (min-width: 600px) {
  .footer-text--resp-hide {
    display: inline;
  }
}
