* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.333333333333333;
  font-family: "futura-pt", sans-serif;
}
h3 {
  font-size: 1.333333333333333em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.section-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.main-nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #ffc0cb;
  z-index: 1;
}
@media screen and (min-width: 1100px) {
  .main-nav {
    max-width: 960px;
  }
}
.main-nav__container {
  position: fixed;
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  border-bottom: 1px solid #be985b;
}
@media screen and (min-width: 1100px) {
  .main-nav__container {
    flex-direction: column;
    align-items: start;
    display: inline-block;
    width: auto;
    margin-left: -50px;
    border-right: 1px solid #be985b;
    border-bottom: none;
  }
}
.main-nav__logo-wrapper {
  position: relative;
  top: 15px;
  width: 43px;
  height: 88.08px;
  margin: 0 20px 0 15px;
}
@media screen and (min-width: 376px) {
  .main-nav__logo-wrapper {
    top: 10px;
    width: 34.17px;
    height: 70px;
    margin: 0 45px 0 50px;
  }
}
@media screen and (min-width: 1100px) {
  .main-nav__logo-wrapper {
    width: 25.87px;
    height: 53px;
    margin: 10px 0 20px 15px;
  }
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 1;
  padding: 12px 0;
  color: #006959;
}
@media screen and (min-width: 376px) {
  .main-nav__list {
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .main-nav__list {
    flex-direction: column;
    align-items: start;
  }
}
.main-nav__item {
  display: flex;
  align-items: center;
  flex-basis: 33.3333%;
}
@media screen and (min-width: 376px) {
  .main-nav__item {
    flex: none;
    padding-right: 1.888888888888889em;
  }
}
.main-nav__item:last-of-type {
  color: #be985b;
}
@media screen and (min-width: 620px) {
  .main-nav__item:last-of-type {
    margin-left: auto;
  }
}
@media screen and (min-width: 1100px) {
  .main-nav__item:last-of-type {
    margin-left: 0;
  }
}
.section--hero {
  position: relative;
  width: 100%;
  height: 658px;
  background: url("../images/faded_lines-01@2x.jpg") center -385px/960px no-repeat;
  z-index: -1;
}
.hero__content {
  position: relative;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}
.hero__logo-wrapper {
  position: absolute;
  width: 218.54px;
  height: 447.64px;
  top: 136px;
  right: 20px;
  z-index: 0;
}
@media screen and (min-width: 400px) {
  .hero__logo-wrapper {
    right: 70px;
  }
}
@media screen and (min-width: 500px) {
  .hero__logo-wrapper {
    width: 261px;
    height: 535px;
    top: 121px;
    left: 50%;
    margin-left: -130.5px;
  }
}
.js-logo--hero {
  width: 100%;
  height: 100%;
  fill: #be985b;
}
.headline-wrapper {
  position: relative;
  padding-top: 163px;
  z-index: 1;
  text-align: center;
}
.headline-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 500px) {
  .headline-wrapper {
    padding-top: 402px;
  }
}
.hero__headline,
.hero__subhead {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  z-index: 1;
}
.hero__headline {
  display: inline;
  font-size: 2.666666666666667em;
}
@media screen and (min-width: 500px) {
  .hero__headline {
    display: inline-block;
    margin: 0 0 6px 0;
    padding-top: 3px;
    background-color: #006959;
  }
}
@media screen and (min-width: 820px) {
  .hero__headline {
    float: left;
    margin: 0 90px 6px;
    font-size: 3.555555555555555em;
  }
}
.hero__subhead {
  display: inline;
  font-size: 1.333333333333333em;
}
@media screen and (min-width: 500px) {
  .hero__subhead {
    display: inline-block;
    margin-left: 0;
    padding-top: 3px;
    background-color: #56b39a;
  }
}
@media screen and (min-width: 820px) {
  .hero__subhead {
    margin-right: 70px;
    float: right;
    font-size: 2em;
  }
}
.headline__segment,
.subhead__segment {
  float: left;
  clear: left;
  margin: 0 0 3px 30px;
}
@media screen and (min-width: 400px) {
  .headline__segment,
  .subhead__segment {
    margin-left: 70px;
  }
}
@media screen and (min-width: 500px) {
  .headline__segment,
  .subhead__segment {
    float: none;
    margin-left: 0;
    background-color: none;
  }
}
.headline__segment {
  display: inline-block;
  padding: 0 0.234375em;
  background-color: #006959;
}
.subhead__segment {
  display: inline-block;
  padding: 0 0.416666666666667em;
  background-color: #56b39a;
}
.section--hello {
  position: relative;
  width: 100%;
  z-index: 0;
}
.section--hello:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 960px;
  background: url("../images/faded_lines-01@2x.jpg") -360px 190px/600px no-repeat;
  transform: translateX(-50%);
  z-index: -1;
}
@media screen and (min-width: 450px) {
  .section--hello:after {
    background-position: -150px 200px;
    background-size: 100%;
  }
}
@media screen and (min-width: 650px) {
  .section--hello:after {
    background-position: -200px 200px;
  }
}
.hello__content {
  position: relative;
  padding: 10px 0 390px;
}
.hello__content:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 650px) {
  .hello__content {
    padding: 220px 0 150px;
  }
}
.hello__text {
  float: left;
  font-size: 1.666666666666667em;
  max-width: 370px;
  margin: 0;
  padding-left: 30px;
  color: #be985b;
}
@media screen and (min-width: 450px) {
  .hello__text {
    padding: 0;
    margin-left: 95px;
  }
}
@media screen and (min-width: 860px) {
  .hello__text {
    font-size: 2em;
  }
}
.hello__text:after {
  content: '';
  display: block;
  width: 3.611111111111111em;
  margin-top: 45px;
  border-bottom: 10px solid #006959;
}
.hello__image {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  overflow: hidden;
  z-index: 1;
}
@media screen and (min-width: 450px) {
  .hello__image {
    width: 47.91666666666667%;
    min-width: 350px;
    max-width: 460px;
    right: -10px;
  }
}
@media screen and (min-width: 715px) {
  .hello__image {
    width: 460px;
  }
}
.self-portrait {
  position: relative;
  width: 100%;
  top: 20px;
  left: 40px;
}
.section--experience {
  position: relative;
  background-color: #56b39a;
  padding: 40px;
}
.experience__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.experience__content:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 600px) {
  .experience__content {
    flex-direction: row;
  }
}
.experience__block {
  display: inline-block;
}
.experience__block:first-of-type {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 600px) {
  .experience__block:first-of-type {
    padding: 0 80px 0 0;
    border-right: 1px solid #fff;
    border-bottom: none;
  }
}
.experience__block:last-of-type {
  padding-top: 30px;
}
@media screen and (min-width: 600px) {
  .experience__block:last-of-type {
    padding: 0 0 0 80px;
  }
}
@media screen and (min-width: 600px) {
  .experience__block {
    padding: 90px 0;
  }
}
.experience__title,
.experience__years,
.experience__label {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.experience__title {
  letter-spacing: 1px;
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  .experience__title {
    font-size: 1em;
  }
}
.experience__years {
  font-size: 8.333333333333334em;
  font-weight: 700;
  letter-spacing: -7px;
}
@media screen and (min-width: 375px) {
  .experience__years {
    font-size: 11.11111111111111em;
  }
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  .experience__years {
    font-size: 7.777777777777778em;
  }
}
.experience__label {
  ont-size: 1.333333333333333em;
  letter-spacing: 5px;
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  .experience__label {
    font-size: 1em;
    letter-spacing: 0;
  }
}
.section--expertise {
  position: relative;
  overflow: hidden;
}
.section--expertise:before,
.section--expertise:after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  max-width: 960px;
  height: 960px;
  background: url("../images/faded_lines-02@2x.jpg") center/100% no-repeat;
  z-index: -1;
}
@media screen and (min-width: 450px) {
  .section--expertise:before,
  .section--expertise:after {
    width: 100%;
  }
}
.section--expertise:before {
  top: -400px;
}
@media screen and (min-width: 450px) {
  .section--expertise:before {
    top: -300px;
    right: -400px;
    transform: rotate(-90deg);
  }
}
.section--expertise:after {
  bottom: -400px;
}
@media screen and (min-width: 450px) {
  .section--expertise:after {
    bottom: -400px;
    left: -400px;
    transform: rotate(98deg);
  }
}
.expertise__section {
  position: relative;
  padding: 40px 20px;
  border-bottom: 1px solid #be985b;
}
@media screen and (min-width: 450px) {
  .expertise__section {
    margin: 0 80px;
    padding: 67px 0;
  }
}
@media screen and (min-width: 450px) {
  .expertise__section:nth-child(2n) .expertise__text,
  .expertise__section:nth-child(2n-1) .expertise__graphic {
    float: left;
  }
}
@media screen and (min-width: 450px) {
  .expertise__section:nth-child(2n) .expertise__graphic,
  .expertise__section:nth-child(2n-1) .expertise__text {
    float: right;
  }
}
.expertise__section:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (min-width: 450px) {
  .expertise__text,
  .expertise__graphic {
    width: 46.25%;
  }
}
@media screen and (min-width: 450px) {
  .expertise__graphic {
    float: right;
  }
}
@media screen and (min-width: 450px) {
  .expertise__text {
    float: left;
  }
}
.expertise-graphic {
  width: 100%;
}
.expertise__title {
  color: #006959;
}
.expertise__title::after {
  content: '';
  display: block;
  width: 3.333333333333333em;
  margin: 30px 0;
  border-bottom: 10px solid #be985b;
}
.section--knowledge {
  background-color: #006959;
}
.knowledge__icon {
  max-width: 100px;
}
